body {
      font-size: 16px;
      color: black;
      line-height: 24px;
      font-weight: regular;
      font-family: "Roboto medium";
}
h2 {
      font-size: 24px;
}
h3 {
      font-size: 16px;
      font-weight: bold;
}
ul {
  padding: 0;
}
.main-header {
  margin-bottom: 20px;
}

.container {
  width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

.logo {
  float: left;
  width: 180px;
  margin-right: 180px;

}
.nav-list {
  width: 440px;
  float: left;
  margin-right: 200px;
}
.nav-list li {
  display: inline-block;
}
.basket {
float: right;
  width: 169px;
}

.left {
  float: left;
}
.features-name {
  font-size: 55px;
}
.mobile-img {
float: right;
margin-right: 30px;

}
.features {
margin-bottom: 81px;
}
.main-content {
  margin-bottom: 88px;
  font-size: 0;
}
.item {
  display: inline-block;
  margin-right: 100px;
  font-size:  16px;
}
.item:last-child {
  margin-right: 60px;
}
.info {
  margin-bottom: 110px;
}
.info-left {
float: left;
}
.info-left-ad {
  font-size: 45px;
}
.info-right {
  float: right;
}
.advert {
  width: 360px;
}
.number {
  font-size: 45px;
  font-weight: bold;
}
.quality {
  float: left;
  width: 100px;
  margin-right: 20px;
}
.time {
  float: left;
  width: 100px;
  margin-right: 20px;
}
.prepayment {
  float: right;
  width: 110px;
}
.group-logo {

  margin-bottom: 80px;
}
.adlogo li {
  display: inline-block;
}
.footer-social {
  float: left;
  margin-right: 130px;
}
.footer-text {
  float: right;
  margin-right: 203px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
