@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.ttf");
}
body {

      font-size: 16px;
      color: black;
      font-weight: regular;
      font-family: "Roboto Medium";

}

h1 {
  font-size: 55px;
  font-weight: normal;
}
h2 {
      font-size: 18px;
      font-weight: bold;
}
h3 {
      font-size: 16px;
      font-weight: bold;
}
ul {
  padding: 0;
}
.main-header, .header-title {
  background-color: #eeeeee;
  color: #000000;
}
.main-header a {
  color: #000000;
}
.nav-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.container {
  width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

.logo {
  float: left;
  width: 180px;
  margin-right: 150px;
  margin-bottom: 40px;

}
.nav-list {
  float: left;
}

.nav-list li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}
.nav-list a {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 80px 23px 25px;
}
.nav-list a:hover {
  color: #fb565a;
}


.basket {
float: right;
  max-width: 160px;
}

.bask {
  display: inline-block;
   font-size: 16px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
    padding: 80px 23px 25px;
    padding-left: 80px;
    position: relative;
}
.bask:hover {
  color: #fb565a;
}
.bask::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 2px;
  width: 18px;
  height: 18px;
  background: #ff0000;

}
.features {
  background-color: #eeeeee;
}
.left {
  float: left;
}
.features-name {
  font-size: 55px;
  font-weight: medium;
}
.mobile-img {
float: right;
margin-right: 30px;

}
.features {
margin-bottom: 81px;
}
.more-info {
  display: block;
  width: 240px;
  height: 50px;
  font-size: 16px;
  font-weight: normal;
  background-color: #fb565a;
  color: #ffffff;
  padding: 18px 54px;
  text-align: center;
  vertical-align: top;
  text-transform: uppercase;
  text-decoration: none;
}
.more-info:hover {
  background-color: #e74246;
}
.more-info:active {
  background-color: #d7373b;

}

.main-content {
  margin-bottom: 88px;
  font-size: 0;
}
.item {
  display: inline-block;
  margin-right: 100px;
  font-size:  16px;
}
.item:last-child {
  margin-right: 60px;
}
.info {
  margin-bottom: 110px;
}
.info-left {
float: left;
}
.info-left-ad {
  font-size: 45px;
  margin-bottom: 40px;
}
.info-right {
  float: right;
}
.advert {
  width: 360px;
  margin-top: 48px;
}
.number {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
}
.quality {
  float: left;
  width: 100px;
  margin-right: 20px;
}
.time {
  float: left;
  width: 100px;
  margin-right: 20px;
}
.prepayment {
  float: right;
  width: 110px;
}
.group-logo {

  margin-bottom: 80px;
}
.adlogo {
  height: 181px;
}
.adlogo li {
  display: inline-block;
}
.htmlak {
  margin-left: 31px;
  margin-right: 105px;
}
.barber {
  margin-right: 100px;
}
.pink {
  margin-right: 117px;
}
.naming {
  font-size: 18px;
  font-weight: bold;
}
.main-footer {
  margin-top: 69px;
  margin-bottom: 76px;

}
.footer-social {
  float: left;
  margin-right: 130px;
}
.footer-name {
  font-size: 36px;
  font-weight: bold;
}
.footer-text {
  float: right;
  margin-right: 203px;
}
.header-title {
text-align: center;
}
.main {
  margin-top: 60px;
  margin-bottom: 60px;
}
.content-left {
  float: left;
  width: 260px;

}
.price-range {
  margin-top: 50px;
}
label {
  display: block;
}
.net {
  margin-top: 50px;
}
.features2 {
  margin-top: 40px;
  margin-bottom: 45px;
}
.content-right {
  float: right;
  width: 760px;

}
.content-right-title {
  margin-bottom: 50px;
}
.sorting-list li {
  display: inline-block;
}
.sorting {
  float: left;
}
.sorting-list {
  float: right;
  font-size: 14px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.content-right-fig {
  width: 760px;

}
.fig-list {
  font-size: 0;
}
.fig-list2 li {
  display: inline-block;
}

.figs {
  display: inline-block;
  width: 360px;
  font-size: 16px;
  vertical-align: top;
  margin-bottom: 36px;
}
.figs:nth-child(2n) {
  margin-left: 40px;
}
.fig-info {
  height: 231px;
}
.fig-info-header {
  font-size: 18px;
  font-weight: bold;
}
.btn-list li {
  display: inline-block;
  margin-top: 24px;
}
