body {

      font-size: 16px;
      color: black;
      font-weight: regular;
      font-family: "Roboto medium";
}
h1 {
  font-size: 55px;
  font-weight: normal;
}
h2 {
      font-size: 18px;
      font-weight: bold;
}
h3 {
      font-size: 16px;
      font-weight: bold;
}
ul {
  padding: 0;
}
.main-header {
  margin-bottom: 20px;
}

.container {
  width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

.logo {
  float: left;
  width: 180px;
  margin-right: 180px;
  margin-bottom: 40px;

}
.nav-list {
  width: 440px;
  float: left;
  margin-right: 100px;
}
.nav-list li {
  display: inline-block;
}
.basket {
float: right;
  width: 169px;
}

.left {
  float: left;
}
.features-name {
  font-size: 55px;
}
.mobile-img {
float: right;
margin-right: 30px;

}
.features {
margin-bottom: 81px;
}
.main-content {
  margin-bottom: 88px;
  font-size: 0;
}
.item {
  display: inline-block;
  margin-right: 100px;
  font-size:  16px;
}
.item:last-child {
  margin-right: 60px;
}
.info {
  margin-bottom: 110px;
}
.info-left {
float: left;
}
.info-left-ad {
  font-size: 45px;
  margin-bottom: 40px;
}
.info-right {
  float: right;
}
.advert {
  width: 360px;
  margin-top: 48px;
}
.number {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
}
.quality {
  float: left;
  width: 100px;
  margin-right: 20px;
}
.time {
  float: left;
  width: 100px;
  margin-right: 20px;
}
.prepayment {
  float: right;
  width: 110px;
}
.group-logo {

  margin-bottom: 80px;
}
.adlogo {
  height: 181px;
}
.adlogo li {
  display: inline-block;
}
.htmlak {
  margin-left: 31px;
  margin-right: 105px;
}
.barber {
  margin-right: 100px;
}
.pink {
  margin-right: 117px;
}
.naming {
  font-size: 18px;
  font-weight: bold;
}
.main-footer {
  margin-top: 70px;

}
.footer-social {
  float: left;
  margin-right: 130px;
}
.footer-name {
  font-size: 36px;
  font-weight: bold;
}
.footer-text {
  float: right;
  margin-right: 203px;
}
.header-title {
text-align: center;
}
.main {
  margin-top: 60px;
  margin-bottom: 60px;
}
.content-left {
  float: left;
  width: 260px;

}
.price-range {
  margin-top: 50px;
}
label {
  display: block;
}
.net {
  margin-top: 50px;
}
.features2 {
  margin-top: 40px;
  margin-bottom: 45px;
}
.content-right {
  float: right;
  width: 760px;

}
.content-right-title {
  margin-bottom: 50px;
}
.sorting-list li {
  display: inline-block;
}
.sorting {
  float: left;
}
.sorting-list {
  float: right;
  font-size: 14px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.content-right-fig {
  width: 760px;

}
.fig-list {
  font-size: 0;
}
.fig-list2 li {
  display: inline-block;
}

.figs {
  display: inline-block;
  width: 360px;
  font-size: 16px;


}
.figs:nth-child(2n) {
  margin-left: 40px;
}
.fig-info {
  height: 231px;
}
.fig-info-header {
  font-size: 18px;
  font-weight: bold;
}
.btn-list li {
  display: inline-block;
}
